body {
  	padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.mycontent-left {
	border-right:  1px solid #737373;
	padding-right: 50px;
}
.login_header, .login_footer {
	margin: 10px 10px 20px 0px;	
}


.food-entry-nutrition-fact {
	border: 2px solid black;
	width: 250px;
	margin: 5px;
}

.food-entry-nutrition-fact div {
	border-bottom: 1px solid black;
	padding: 1px 5px;
}

.food-entry-nutrition-fact div:last-child {
	border: none;
}

.food-entry-nutrition-fact-heading {
	font-weight: bold;
	margin: 5px 10px 5px 5px;
}

.food-entry-nutrition-fact-sub-heading {
	margin: 5px 10px 5px 5px;
}

.food-entry-nutrition-fact-sub2-heading {
	margin: 5px 10px 5px 25px;
}
.food-entry-nutrition-fact-green {
	background-color: #9FD490;
}

.food-entry-nutrition-fact-gray {
	background-color: #C7C7C7;
}

.food-entry-nutrition-fact-yellow {
	background-color: #F7F48D;
}

.food-entry-nutrition-fact-red {
	background-color: #F79292;
}
.daily-meals {
	margin: 10px;
}
.daily-meals div:last-child {
	border: none;
}
.dail-view-left {
	width: 600px;
	float: left;
	margin: 38px 0px 0px 0px;
}
.dail-view-right {
	float: left;
	margin: 5px 0px 0px 50px;
	text-align: left;
	clear: right;
}
.daily-view-header {
	text-align: left;
	padding: 10px;
	background-color: #337ab7;
	color: white;
}
.daily-view-entry {

	text-align: left;
	padding: 10px;
	border-bottom: 1px solid black;
}
.demo_link {
	color: blue;
}
.demo_link:hover {
	text-decoration: underline;
	cursor: pointer;
}
.compose-section {
	background-color: #CCCCCC;
	border-radius: 4px;
	margin: 20px;
	clear: both;
	width: 600px;	
	float: right;
}
#compose-form {
	padding: 15px;
}
#compose-cancel {
	float: right;
	margin: 5px 10px 15px 0px;
}
#compose-cancel:hover {
	cursor: pointer;
}
.compose-text-area {
	margin: 0px 0px 0px 0px;
}
#compose-button {
	display: none;
	margin: 5px 10px 10px 5px;
	clear: both;
}
#compose-send {
	/*float: left;*/
	margin: 5px 10px 10px 5px;

}
.form input.ng-invalid.ng-touched {
	background-color: #FA787E;
}
.form-error {
	color: red;
}
#my_popup {
	display: none;
}
